<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="com"></context:component-scan>
    <bean id="myAdvice" class="com.wty.MyAdvice"></bean>
    <aop:config>
        <aop:pointcut id="myCut" expression="execution(* com.wty.Hello.*(..))"></aop:pointcut>
        <aop:aspect ref="myAdvice">
            <aop:before method="myBefore" pointcut-ref="myCut"></aop:before>
            <aop:after method="myAfter" pointcut-ref="myCut"></aop:after>
            <aop:after-returning method="afterreturn" pointcut-ref="myCut" returning="rst"></aop:after-returning>
            <aop:after-throwing method="throwing" pointcut-ref="myCut" throwing="ex"></aop:after-throwing>
        </aop:aspect>
    </aop:config>
</beans>